PORT=3000
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=your-cluster.mongodb.net
MONGODB_DB=yourDatabaseName
ACCESS_TOKEN_SECRET=yourAccessSecret
REFRESH_TOKEN_SECRET=yourRefreshSecret
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
JWT_SECRET=
APP_DOMAIN=http://localhost:3000/auth
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=